services:
  openresty:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./examples/openresty/nginx.conf:/etc/nginx/conf.d/default.conf
      - .:/opt/opentelemetry-lua
    depends_on:
      - otel-collector
      - test-server
    networks:
      - opentelemetry-lua
  jaeger:
    image: jaegertracing/all-in-one
    ports:
      - 26686:16686
    networks:
      - opentelemetry-lua
  otel-collector:
    image: otel/opentelemetry-collector-contrib-dev:latest
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    depends_on:
      - jaeger
    networks:
      - opentelemetry-lua
  test-server:
    build:
      context: ./examples/server
    depends_on:
      - otel-collector
    networks:
      - opentelemetry-lua
  test-client:
    build:
      context: ./examples/client
    environment:
      - PROXY_ENDPOINT=${PROXY_ENDPOINT}
    networks:
      - opentelemetry-lua

networks:
  opentelemetry-lua:
